<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script th:text="'var information =[' + ${message}+ '];'"></script>
    <script type="text/javascript">google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);

function drawChart() {
        var data = google.visualization.arrayToDataTable(information);

        var options = {
          title: 'Length of Time vs. Price Comparison',
          hAxis: {title: 'Length of Time', minValue: 0, maxValue: 9000},
          vAxis: {title: 'Price', minValue: 0, maxValue: 200},
          legend: 'none'
        };

        var chart = new google.visualization.ScatterChart(document.getElementById('chart_div'));

        chart.draw(data, options);
      }
</script>
</head>
<body>
<div id='chart_div'></div>
<h2> Did it work? </h2>
</body>
</html>



