<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="base.camp Animal Viewer"/>
    <meta name="author" content="base.camp"/>
    <title>base.camp Animal Viewer: Tier nicht gefunden</title>

    <!-- Bootstrap core CSS -->
    <link href="./css/bootstrap.min.css" rel="stylesheet"/>

</head>

<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="./">Animal Viewer</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="/">Home</a></li>
                <li><a href="./random">Zufälliges Bild</a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>
<br/><br/>
<div class="container">

    <div class="starter-template">
        <h2>Tier nicht gefunden</h2>
        <img th:src="@{/images/error.jpg}" style="max-height:800px;max-width:70%"/>
        <p>Dieses Tier hat und leider noch keine Fotos von sich gegeben. Schau später nochmal nach oder <a href="mailto:basecamp@informatik.uni-hamburg.de">sag uns, welches Tier Du vermisst!</a></p>

        <p>In der Zwischenzeit kannst Du <a href="./random">weitere Bilder von den Tieren anschauen</a>.</p>
    </div>


</div><!-- /.container -->


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ" crossorigin="anonymous"></script>
<script src="./js/bootstrap.min.js"></script>

</body>
</html>


