<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="base.camp Animal Viewer"/>
    <meta name="author" content="base.camp"/>
    <title>base.camp Animal Viewer</title>

    <!-- Bootstrap core CSS -->
    <link href="./css/bootstrap.min.css" rel="stylesheet"/>

</head>

<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="./">Animal Viewer</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="/">Home</a></li>
                <li><a href="./random">Zufälliges Bild</a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>
<br/><br/>
<div class="container">

    <div class="starter-template">
        <h1>Projekt: Automatische Tiererkennung auf Bauernhöfen zur Erhöhung der Kundentransparenz</h1>
        <p class="lead">
            In dem Projekt soll mit Hilfe von Bildverarbeitung und Texterkennung ermöglicht werden, dass die Ohr­marken von Kühen automatisch in Bildern erkannt werden. Dabei sollen dann einer Kuh alle Bilder, auf denen diese Kuh mit entsprechender Ohrmarke er­kannt wurde, zugeordnet werden. Schließlich wäre es dann möglich anhand eines Codes, alle Bilder zu ei­ner Kuh zu sehen. Zudem soll dann noch im nächsten Schritt eine App gestaltet werden. Diese App soll zum Beispiel im Supermarkt zum Einsatz kommen, um ei­nen QR-Code auf einem Produkt zu scannen. Über den QR-Code sind dann Bilder von den Haltungsbedingun­gen der Kuh einsehbar, von der das Fleisch stammt.</p>
    </div>

    <div class="container-fluid">
        <h2>Projektschwerpunkte:</h2>
        <ul>
            <li>Objekterkennung</li>
            <li>Optische Zeichenerkennung (OCR)</li>
            <li>Erstellung einer App</li>
            <li>Programmiersprache Python</li>
        </ul>
    </div>

    <div class="container-fluid">
        <h2>Animal Viewer</h2>
        <p>Diese Web-Applikation veranschaulicht das Konzept. Kuscheltiere haben die Stadt Hamburg besucht, wobei sie eine Nummer mit QR-Tag tragen.
            Kunden können nun Bilder von den Tieren ansehen. Einfach <a href="./random">zufälliges Bild</a> auswählen und es geht los!</p>

        <h3>Kontakt:</h3>
        <ul>
        <li>Idee: Thorben Willert, Umsetzung: Eugen Ruppert</li>
            <li><a href="https://basecamp.informatik.uni-hamburg.de">Zur base.camp-Seite</a></li>
            <li><a href="mailto:basecamp@informatik.uni-hamburg.de">basecamp@informatik.uni-hamburg.de</a></li>
        </ul>
    </div>

</div><!-- /.container -->


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ" crossorigin="anonymous"></script>
<script src="./js/bootstrap.min.js"></script>

</body>
</html>
