<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script th:text="'var information =[' + ${message}+ '];'"></script>
    <script th:text=" 'var information2 =[' + ${message1}+ '];'"></script>
    <script type="text/javascript">google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);

function drawChart() {
        information.unshift(['Length of Time','Price']);
        var data = google.visualization.arrayToDataTable(information);

        var options = {
          title: 'Length of Time vs. Price Comparison',
          hAxis: {title: 'Length of Time', minValue: 0, maxValue: 50},
          vAxis: {title: 'Price', minValue: 0, maxValue: 180},
          trendlines: { 0: {} }
        };

        var chart = new google.visualization.ScatterChart(document.getElementById('chart_div'));

        chart.draw(data, options);


        information2.unshift(['Text Length','Price']);
        var data2 = google.visualization.arrayToDataTable(information2);

        var options2 = {
          title: 'Text Length vs. Price Comparison',
          hAxis: {title: 'Text Length', minValue: 0, maxValue: 30},
          vAxis: {title: 'Price', minValue: 0, maxValue: 200},
          trendlines: { 0: {} }

        };

        var chart2 = new google.visualization.ScatterChart(document.getElementById('chart2_div'));

        chart2.draw(data2, options2);
      }
</script>


    <script th:text="'var w11 =' + ${w11}+ ';'"></script>
    <script th:text="'var w12 =' + ${w12}+ ';'"></script>
    <script th:text="'var w21 =' + ${w21}+ ';'"></script>
    <script th:text="'var w22 =' + ${w22}+ ';'"></script>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['table']});
      google.charts.setOnLoadCallback(drawTable);

      function drawTable() {
        var data = new google.visualization.DataTable();
        data.addColumn('number', 1);
        data.addColumn('number', 2);
        data.addRows([
          [w11,  w12],
          [w21,  w22],
        ]);

        var table = new google.visualization.Table(document.getElementById('table_div'));

        table.draw(data, {showRowNumber: true, width: '100%', height: '100%'});
      }
</script>
    <script th:text="'var l11 =' + ${l11}+ ';'"></script>
    <script th:text="'var l12 =' + ${l12}+ ';'"></script>
    <script th:text="'var l21 =' + ${l21}+ ';'"></script>
    <script th:text="'var l22 =' + ${l22}+ ';'"></script>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['table']});
      google.charts.setOnLoadCallback(drawTable);

      function drawTable() {
        var data = new google.visualization.DataTable();
        data.addColumn('number', 1);
        data.addColumn('number', 2);
        data.addRows([
          [l11,  l12],
          [l21,  l22],
        ]);

        var table2 = new google.visualization.Table(document.getElementById('table2_div'));

        table2.draw(data, {showRowNumber: true, width: '100%', height: '100%'});
      }
</script>
    <script th:text="'var ep=' + ${ep}+ ';'"></script>
    <script th:text="'var etre=' + ${etre}+ ';'"></script>
    <script th:text="'var wtre=' + ${wtre}+ ';'"></script>
    <script th:text="'var wgen=' + ${wgen}+ ';'"></script>
    <script th:text="'var egen=' + ${egen}+ ';'"></script>
    <script th:text="'var ekor=' + ${ekor}+ ';'"></script>
    <script th:text="'var wkor=' + ${wkor}+ ';'"></script>
    <script th:text="'var efal=' + ${efal}+ ';'"></script>
    <script th:text="'var wfal=' + ${wfal}+ ';'"></script>
    <script th:text="'var aefal=' + ${aefal}+ ';'"></script>
    <script th:text="'var aekor=' + ${aekor}+ ';'"></script>
    <script th:text="'var aegen=' + ${aegen}+ ';'"></script>
    <script th:text="'var aetre=' + ${aetre}+ ';'"></script>

    <script type="text/javascript">google.charts.load('current', {packages: ['corechart', 'bar']});
    google.charts.setOnLoadCallback(drawDualY);

    function drawDualY() {
    var data3 = new google.visualization.DataTable();
    data3.addColumn('string', 'Statistische Gütekriterien der Klassifikation');
    data3.addColumn('number', 'Expertensystem');
    data3.addColumn('number', 'Expertensystem unbereinigt');
    data3.addColumn('number', 'Watsonsystem');

    data3.addRows([
    [{v: ['Trefferquote', 0, 0], f: 'Trefferquote'}, etre, aetre, wtre],
    [{v: ['Genauigkeit', 0, 0], f: 'Genauigkeit'}, egen, aegen, wgen],
    [{v: ['Korrektklassifikationsrate', 0, 0], f:'Korrektklassifikationsrate'}, ekor, aekor, wkor],
    [{v: ['Falschklassifikationsrate', 0, 0], f: 'Falschklassifikationsrate'}, efal, aefal, wfal],
    ]);

    var options3 = {
    chart: {
    title: 'Vergleich der Klassifikationssysteme',
    subtitle: 'Based on a scale of 1 to 100'
    },
    series: {
    0: {axis: 'Klassifikationsrate in Prozent'},
    1: {axis: 'Klassifikationsrate in Prozent'}
    },
    axes: {
    y: {
    MotivationLevel: {label: 'Klassifikationsrate (1-100)'},
    EnergyLevel: {label: 'Klassifikationsrate(1-100)'}
    }
    },
    hAxis:
    {
    title: 'Statisitische Gütekriterien der Klassifikationen',
    viewWindow:
    {
    min: [7, 30, 0],
    max: [17, 30, 0]
    }
    },
    vAxis:
    {
    title: 'Rating (scale of 1-100)'
    }
    };

    var materialChart3 = new google.charts.Bar(document.getElementById('chart_div3'));
    materialChart3.draw(data3, options3);
    }
</script>
</head>
<body>
<h1> Dauer-Preis-Vergleich </h1>

<div id='chart_div'></div>
<h1> Fragelänge-Preis-Vergleich </h1>
<div id='chart2_div'></div>
<h1> Konfusionsmatrix für Watson im Vergleich zu den Rechtsexperten </h1>
<div id='table_div'></div>
<p> Der Wert 1 in der Tabelle repräsentiert true, der Wert 2 false. Aus der Tabelle lässt sich also ablesen,
wie oft das Watsonsystem mit den Rechtsexperten bezüglich true übereinstimmt - an der Stelle 1-1 - und abweicht - bei
1-2. Gleiches gilt für die Übereinstimmung bezüglich false - 2-2 - und die Abweichung bezüglich false - 2-1.</p>
<p> <center><b><span th:text="'Recall: ' + ${wtre}"></span></b></center></p>
<p> <center> Als Recall bezeichnet man die Trefferquote. Die Trefferquote gibt den Anteil der korrekt als positiv klassifizierten Objekte an der Gesamtheit der tatsächlich positiven Objekte an. </center></p>
<p> <center><b><span th:text="'Precision: ' + ${wgen}"></span></b></center></p>
<p> <center> Als Precision bezeichnet man die Genauigkeit oder Relevanz. Sie gibt den Anteil der korrekt als positiv klassifizierten Ergebnisse an der Gesamtheit der als positiv klassifizierten Ergebnisse an. </center></p>
<p> <center><b><span th:text="'Korrektklassifikationsrate: ' + ${wkor}"></span></b></center></p>
<p> <center><b><span th:text="'Falschklassifikationsrate: ' + ${wfal}"></span></b></center></p>
<p> <center> Die Raten geben jeweils an wieviele Objekte prozentual richtig beziehungsweise falsch klassifiziert wurden.</center></p>
<h1> Konfusionsmatrix für das Expertensystem im Vergleich zu den Rechtsexperten</h1>
<div id='table2_div'></div>
<p> Der Wert 1 in der Tabelle repräsentiert true, der Wert 2 false. Aus der Tabelle lässt sich also ablesen,
    wie oben ablesen wie oft hier das Expertensystem mit den Rechtsexperten bezüglich true übereinstimmt - an der Stelle 1-1 - und abweicht - bei
    1-2. Gleiches gilt für die Übereinstimmung bezüglich false - 2-2 - und die Abweichung bezüglich false - 2-1.</p>
<p> <center><b><span th:text="'Recall: ' + ${etre} + ' (ohne Voraussortierung der nichtzuordnenbaren Fälle: ' + ${aetre + ')'}"></span></b></center></p>
<p> <center> Als Recall bezeichnet man die Trefferquote. Die Trefferquote gibt den Anteil der korrekt als positiv klassifizierten Objekte an der Gesamtheit der tatsächlich positiven Objekte an. </center></p>
<p> <center><b><span th:text="'Precision: ' + ${egen} + ' (ohne Voraussortierung der nichtzuordnenbaren Fälle: ' + ${aegen} + ')'"></span></b></center></p>
<p> <center> Als Precision bezeichnet man die Genauigkeit oder Relevanz. Sie gibt den Anteil der korrekt als positiv klassifizierten Ergebnisse an der Gesamtheit der als positiv klassifizierten Ergebnisse an. </center></p>
<p> <center><b><span th:text="'Korrektklassifikationsrate: ' + ${ekor} + ' (ohne Voraussortierung der nichtzuordnenbaren Fälle: ' + ${aekor} + ')'"></span></b></center></p>
<p> <center><b><span th:text="'Falschklassifikationsrate: ' + ${efal} + ' (ohne Voraussortierung der nichtzuordnenbaren Fälle: ' + ${aefal} + ')'"></span></b></center></p>
<p> <center> Die Raten geben jeweils an wieviele Objekte prozentual richtig beziehungsweise falsch klassifiziert wurden.</center></p>
<p> <center><span th:text="'Problemfälle, die nicht klassifiziert werden konnten: ' + ${ep}"></span> </center></p>
<div id='chart3_div'></div>
</body>
</html>